%%-*- mode: erlang -*-
{deps, []}.

{erl_opts, [debug_info, warnings_as_errors,
	    {src_dirs, ["src"]}	    
	   ]}.


{lib_dirs, []}.

{cover_enabled, true}.

{cover_print_enable, true}.

%% == EUnit ==

%% Options for eunit:test()
%%{eunit_opts, []}.

%%{eunit_opts, [verbose]}.



%% Additional compile options for eunit. erl_opts is also used
{eunit_compile_opts, []}.

%% Same as erl_first_files, but used only when running 'eunit'
{eunit_first_files, []}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
